# =========================
# Build output
# =========================
Output/
*.img
*.raw
*.dat
*.new.dat
*.br
*.transfer.list

# =========================
# Temporary workspace
# =========================
Temp/
UnpackedROMs/
DownloadedROMs/

# =========================
# Python
# =========================
gsi-env/
__pycache__/
*.pyc
*.pyo

# =========================
# Logs
# =========================
*.log

# =========================
# Archives
# =========================
*.zip
*.7z
*.rar
*.tar
*.gz

# =========================
# Linux
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/

# =========================
# Swap files
# =========================
*.swp
*.swo
*~
